@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
/* a{
    color: black !important;
} */

/* .brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
} */
/* toast */
#toast-container{
    bottom: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.input-field input[type=text][type=password]:focus{
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.material-icons:hover{
    cursor: pointer;
}

.collection li{
    width:100%;
}
*{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  .nav-wrapper{
    position: sticky;
    padding: 0 30%;
  }
  a{
    color: black !important;
  }
  .brandLogo{
    float: left;
    font-family: 'Grand Hotel', cursive;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
  }
  .icons{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    object-fit: cover;
  }
  .navBar{
    z-index: 100;
    position:fixed;
    top: 0;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .right_Nav{
    display: flex;
    justify-content: space-evenly;
  }
  .right_Nav2{
    display: none;
  }
  .cntiner{
    margin-top: 80px;
 }
 .logOutbtn{
   font-weight: 500;
   padding: 10px;
   width: 100%;
   text-transform: capitalize;
   border-radius: 5px;
   color:white;
   border: 0;
   background-color: rgb(90, 156, 255);
 }
 .logOutbtn2{
  font-weight: 500;
  display: none;
  float: right;
  padding: 10px;
  margin: auto;
  align-self: center;
  margin-top: 7px;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  background-color: rgb(90, 156, 255);
}

/* -------------------------------------------------- Search Modal -----------------------------------  */
.Searchmodal{
  background-color: rgba(0, 0, 0, 0.51);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 4% 33%;
}
.modalContent{
  border-radius: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#searchbar{
  height: 20px;
  width: 90%;
  padding: 10px 15px;
  background-color: #EFEFEF;
  border-radius: 10px;
  border: 1px solid #cacaca;
  margin: 20px 0px;
}
.userDisplayContainer{
   height: 100%;
   width: 100%;
  overflow-y: scroll;
}
.userContainer{
  cursor: pointer;
  width: 90%;
  height: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.userContainer:hover{
  border-radius: 10px;
  background-color: #f5f5f5;
}
.userNames{
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
}
.modal-footer{
  position: sticky;
  bottom: 0;
  left: 0;
}
/* ---------------------------------------------------Home js CSS ------------------------------- */

.Post-top_Section{
  width: 100%;
  padding: 10px 7px;
  display: flex;
}
.Post-top_Section > span{
  width: 100%;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
  margin-left: 5px;
  padding-top:1% ;
}
.HpPic{
  cursor:none;
  object-fit: cover;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 25px;

}
.cancelbtn{
  cursor: pointer;
  border: 0;
  top: 4%;
  right: 9%;
  padding: 5px;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}
.deleteBTn{
  float: right;
}
.card-actions > i{
  margin-right: 10px;
}
.likes{
  font-weight: 550;
  font-size: 14px;
}
.caption{
  margin-top: 5px;
  font-size: 14px;
}
.captioner{
  font-weight: 550;
  font-size: 14px;
  margin-right: 5px;
}
.commentSection{
  cursor: pointer;
  width: 100%;
  max-height: 55px;
  overflow: hidden;
  border-bottom: 1px #cacaca solid;
  padding: 5px 0px;
  /* background-color: violet; */
}
.AddComment {
  display: flex;
  width: 100%;
  /* background-color: aquamarine; */
}
.AddComment > button{
  font-size: 12px;
  color: rgba(0, 0, 255, 0.577);
  font-weight: 550;
  margin: 10px;
  margin-top: 20px;
  background-color: transparent;
  border: 0;
}

/* -----------------------------------Create Post PAge ----------------------------------  */
.profiletab{
  align-self: center;
  max-width: 500px;
  text-align: center;
  border: 1px solid #cacaca;
  margin: auto;
  margin-top: 20px;
}
.previewImage{
  object-fit: cover;
  max-width: 500px;
  max-height: 400px;
}
.label{
  float: left;
  color: rgb(20, 20, 20); 
  font-size: 14px;
  letter-spacing: 1px;
}

/* ------------------------------------------------Edit Profile --------------------------------------- */
.editprofileContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}
.column1{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
}
.items{
  font-weight: 500;
  width: 100%;
  height:max-content;
  padding:10px;
  cursor: pointer;
}
.items:hover{
  background-color: #EFEFEF;
}
.column2{
  width: 100%;
  display: flex;
  flex-direction:column;
  text-align: right;
  background-color: rgb(255, 255, 255);
  border: 1px #cacaca solid;
  border-left: 0;
  padding: 5%;
}
.tagContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-left: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.imagetagContainer{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 35%;
  margin-bottom: 20px;
}
.uSername{
  font-weight: 500;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
.cpp{
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: rgb(90, 156, 255);
}
.cpp:hover{
  text-decoration: underline;
}
.tags{
  min-width: 20%;
  margin-right: 10%;
}
#editPageInput{
  width: 50%;
  height: 20px;
  border: 1px solid #cacaca;
  margin: 0;
  padding: 1%;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
#editPageTextarea{
  cursor: pointer;
  min-width: 52%;
  max-width: 52%;
  min-height: 50px;
  max-height: 120px;
  border: 1px solid #cacaca;
  margin: 0;
  padding: 2%;
  font-size: 12px;
  border-radius: 5px;
}
.submitBtn{
  font-weight: 500;
  align-self: center;
  margin: auto;
  width: 15%;
  padding: 5px;
  color: white;
  background-color: rgb(90, 156, 255);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

@media only screen and (max-width : 900px){
  .nav-wrapper{
    padding: 0 10%;
    height: max-content;
  }
  .right_Nav{
    display: none;
  }
  .right_Nav2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
  }
  .logOutbtn2{
    display: block;
  }
  #toast-container{
     width: 100% !important;  
  }
  .Searchmodal{
    padding: 12%;
  }
}
@media only screen and (max-width : 500px){
  .Searchmodal{
    padding: 25% 5%;
  }
  .cancelbtn{
    aspect-ratio: .5;
    right: 5%;
    top: 5%;
  }
  /* ---------------------- Edit Profile ------------- */
  .editprofileContainer{
    height: 50vh;
    margin: 5%;
    width: 90%;
  }
  .column1{
    width: 40%;
  }
  .column2{
    padding: 1%;
  }
  .imagetagContainer{
    margin-left: 10%;
  }
  #editPageInput{
    width: 55%;
  }
  #editPageTextarea{
    font-size: 9px;
    padding: 2%;
    min-width: 57%;
    min-height: 55%;
  }
  .tagContainer{
    padding-left: 5%;
  }
  .tags{
    float: left;
    min-width: 33%;
    margin-right: 5%;
  }
  .submitBtn{
    margin-top: 50px;
    width: 35%;
  }
}
@media only screen and (max-width : 400px){
  .cancelbtn{
    aspect-ratio: .5;
    right: 5%;
    top: 2.8%;
  }

}